In [3]:
import pandas as pd
from sqlalchemy import create_engine

## Extract CSVs into DataFrames

In [4]:
# File paths
gov_cn_path = 'Resources/governors_county.csv'
gov_cand_path = 'Resources/governors_county_candidate.csv'
gov_ste_path = 'Resources/governors_state.csv'
hse_cand_path = 'Resources/house_candidate.csv'
hse_ste_path = 'Resources/house_state.csv'
psd_cn_path = 'Resources/president_county.csv'
psd_cand_path = 'Resources/president_county_candidate.csv'
psd_ste_path = 'Resources/president_state.csv'
sen_cn_path = 'Resources/senate_county.csv'
sen_cand_path = 'Resources/senate_county_candidate.csv'
sen_ste_path = 'Resources/senate_state.csv'

In [5]:
# Read csv files
gov_cn_df = pd.read_csv(gov_cn_path)
gov_cand_df = pd.read_csv(gov_cand_path)
gov_ste_df = pd.read_csv(gov_ste_path)
hse_cand_df = pd.read_csv(hse_cand_path)
hse_ste_df = pd.read_csv(hse_ste_path)
psd_cn_df = pd.read_csv(psd_cn_path)
psd_cand_df = pd.read_csv(psd_cand_path)
psd_ste_df = pd.read_csv(psd_ste_path)
sen_cn_df = pd.read_csv(sen_cn_path)
sen_cand_df = pd.read_csv(sen_cand_path)
sen_ste_df = pd.read_csv(sen_ste_path)

### Governor

In [6]:
gov_cn_df.head()

      state             county  current_votes  total_votes  percent
0  Delaware        Kent County          85415        87025      100
1  Delaware  New Castle County         280039       287633      100
2  Delaware      Sussex County         127181       129352      100
3   Indiana       Adams County          14154        14238       99
4   Indiana       Allen County         168312       164793       95

In [11]:
#total number of counties reporting
len(gov_cn_df)

1025

In [7]:
#finding overall distribution of the percentage of votes 
gov_cn_percentage = gov_cn_df.groupby(['percent']).count()
gov_cn_percentage

         state  county  current_votes  total_votes
percent
80           1       1              1            1
84           1       1              1            1
86           1       1              1            1
87           2       2              2            2
88           1       1              1            1
90           2       2              2            2
91           1       1              1            1
92           6       6              6            6
93           2       2              2            2
94           3       3              3            3
95         187     187            187          187
98           7       7              7            7
99         187     187            187          187
100        624     624            624          624

In [15]:
gov_cand_df.head()

      state             county        candidate party   votes    won
0  Delaware        Kent County      John Carney   DEM   44352   True
1  Delaware        Kent County  Julianne Murray   REP   39332  False
2  Delaware        Kent County  Kathy DeMatteis   IPD    1115  False
3  Delaware        Kent County    John Machurek   LIB     616  False
4  Delaware  New Castle County      John Carney   DEM  191678   True

In [16]:
#gov_cand_df.groupby(['won']).count()

       state  county  candidate  party  votes
won
False   4048    4048       4048   4048   4048
True    1025    1025       1025   1025   1025

In [9]:
len(gov_cand_df)

5073

In [17]:
gov_ste_df.head()

           state    votes
0       Delaware   492635
1        Indiana  3020514
2       Missouri  3010911
3        Montana   603587
4  New Hampshire   792804

In [38]:
#viewing all states reporting
gov_ste_df

             state    votes
0         Delaware   492635
1          Indiana  3020514
2         Missouri  3010911
3          Montana   603587
4    New Hampshire   792804
5   North Carolina  5502788
6     North Dakota   340121
7             Utah  1441485
8          Vermont   362711
9       Washington  4035888
10   West Virginia   776188

In [52]:
#finding states reporting
len(gov_ste_df)

11

#### Merging the county and candidate tables

In [53]:
gov_mrgd_df = gov_cn_df.merge(gov_cand_df, how='left', on=['state', 'county'])
gov_mrgd_df

,state,county,current_votes,total_votes,percent,candidate,party,votes,won
0,Delaware,Kent County,85415,87025,100,John Carney,DEM,44352,True
1,Delaware,Kent County,85415,87025,100,Julianne Murray,REP,39332,False
2,Delaware,Kent County,85415,87025,100,Kathy DeMatteis,IPD,1115,False
3,Delaware,Kent County,85415,87025,100,John Machurek,LIB,616,False
4,Delaware,New Castle County,280039,287633,100,John Carney,DEM,191678,True
...,...,...,...,...,...,...,...,...,...
5068,West Virginia,Wood County,38077,38487,99,Danny Lutz,MNP,377,False
5069,West Virginia,Wyoming County,8320,8614,95,Jim Justice,REP,6941,True
5070,West Virginia,Wyoming County,8320,8614,95,Ben Salango,DEM,1240,False
5071,West Virginia,Wyoming County,8320,8614,95,Erika Kolenich,LIB,86,False
5072,West Virginia,Wyoming County,8320,8614,95,Danny Lutz,MNP,53,False

### Governor's Race Completed Result

In [39]:
#merging county and candidate dfs for all counties, candidates, and percentages reported
gov_mrgd_df = gov_cn_df.merge(gov_cand_df, how='left', on=['state', 'county'])
gov_mrgd_df

,state,county,current_votes,total_votes,percent,candidate,party,votes,won
0,Delaware,Kent County,85415,87025,100,John Carney,DEM,44352,True
1,Delaware,Kent County,85415,87025,100,Julianne Murray,REP,39332,False
2,Delaware,Kent County,85415,87025,100,Kathy DeMatteis,IPD,1115,False
3,Delaware,Kent County,85415,87025,100,John Machurek,LIB,616,False
4,Delaware,New Castle County,280039,287633,100,John Carney,DEM,191678,True
...,...,...,...,...,...,...,...,...,...
5068,West Virginia,Wood County,38077,38487,99,Danny Lutz,MNP,377,False
5069,West Virginia,Wyoming County,8320,8614,95,Jim Justice,REP,6941,True
5070,West Virginia,Wyoming County,8320,8614,95,Ben Salango,DEM,1240,False
5071,West Virginia,Wyoming County,8320,8614,95,Erika Kolenich,LIB,86,False
5072,West Virginia,Wyoming County,8320,8614,95,Danny Lutz,MNP,53,False

In [54]:
gov_result_df = gov_mrgd_df.loc[gov_mrgd_df['percent'] >= 90]
gov_result_cleaned_df = gov_result_df.rename(columns={"votes": "candidate_votes",
                                                      "percent": "percent_count"}).copy()
gov_completed_result_df = gov_result_cleaned_df[['state', 'county',
                                                 'candidate', 'party', 
                                                 'candidate_votes', 'won', 
                                                 'percent_count']].copy()
gov_completed_result_df.head()

,state,county,candidate,party,candidate_votes,won,percent_count
0,Delaware,Kent County,John Carney,DEM,44352,True,100
1,Delaware,Kent County,Julianne Murray,REP,39332,False,100
2,Delaware,Kent County,Kathy DeMatteis,IPD,1115,False,100
3,Delaware,Kent County,John Machurek,LIB,616,False,100
4,Delaware,New Castle County,John Carney,DEM,191678,True,100

### Governor's Race Winner Result

#### By County

In [44]:
gov_cn_winner_df = gov_completed_result_df.loc[gov_completed_result_df['won'] == True]
gov_cn_winner_df

,state,county,candidate,party,candidate_votes,won,percent_count
0,Delaware,Kent County,John Carney,DEM,87025,True,100
4,Delaware,New Castle County,John Carney,DEM,287633,True,100
8,Delaware,Sussex County,Julianne Murray,REP,129352,True,100
12,Indiana,Adams County,Eric Holcomb,REP,14238,True,99
15,Indiana,Allen County,Eric Holcomb,REP,164793,True,95
...,...,...,...,...,...,...,...
5052,West Virginia,Webster County,Jim Justice,REP,3276,True,95
5056,West Virginia,Wetzel County,Jim Justice,REP,6892,True,95
5060,West Virginia,Wirt County,Jim Justice,REP,2664,True,95
5064,West Virginia,Wood County,Jim Justice,REP,38487,True,99
5069,West Virginia,Wyoming County,Jim Justice,REP,8614,True,95

#### By State

In [51]:
gov_st_winner_votes = gov_completed_result_df.groupby(['state', 'candidate']).agg({'candidate_votes':sum}).reset_index(['state', 'candidate'])
gov_st_winner_df = gov_st_winner_votes[gov_st_winner_votes['candidate_votes'] == gov_st_winner_votes.groupby(['state'])['candidate_votes'].transform('max')]
gov_st_winner_df

             state       candidate  candidate_votes
0         Delaware     John Carney           292903
5          Indiana    Eric Holcomb          1651531
8         Missouri     Mike Parson          1715239
11         Montana  Greg Gianforte           328548
15   New Hampshire    Chris Sununu           514867
20  North Carolina      Roy Cooper          2834800
22    North Dakota     Doug Burgum           232127
29            Utah     Spencer Cox           908866
37         Vermont      Phil Scott           248412
40      Washington      Jay Inslee          2290756
46   West Virginia     Jim Justice           497099

### House

In [7]:
hse_cand_df.head()

                 district             candidate party  total_votes    won
0       Delaware at large  Lisa Blunt Rochester   DEM       281382   True
1       Delaware at large            Lee Murphy   REP       196392  False
2       Delaware at large     Catherine Purcell   IND         6682  False
3       Delaware at large          David Rogers   LIB         3814  False
4  Florida’s 1st district            Matt Gaetz   REP       283352   True

In [8]:
hse_ste_df.head()

                 district  current_votes  total_votes  percent
0       Delaware at large         488270       488270      100
1  Florida’s 1st district         438562       438562      100
2  Florida’s 2nd district         311999       311999      100
3  Florida’s 3rd district         390401       390401      100
4  Florida’s 4th district         504940       504940      100

### President

In [9]:
psd_cn_df.head()

,state,county,current_votes,total_votes,percent
0,Delaware,Kent County,87025,87025,100
1,Delaware,New Castle County,287633,287633,100
2,Delaware,Sussex County,129352,129352,100
3,District of Columbia,District of Columbia,40631,45392,90
4,District of Columbia,Ward 2,31929,37140,86

In [10]:
psd_cand_df.head()

      state             county      candidate party  total_votes    won
0  Delaware        Kent County      Joe Biden   DEM        44552   True
1  Delaware        Kent County   Donald Trump   REP        41009  False
2  Delaware        Kent County   Jo Jorgensen   LIB         1044  False
3  Delaware        Kent County  Howie Hawkins   GRN          420  False
4  Delaware  New Castle County      Joe Biden   DEM       195034   True

In [11]:
psd_ste_df.head()

                  state  total_votes
0              Delaware       504010
1  District of Columbia       333682
2               Florida     11067456
3               Georgia      4998566
4                Hawaii       574469

### Senate

In [12]:
sen_cn_df.head()

      state             county  current_votes  total_votes  percent
0  Delaware        Kent County          84975        87025      100
1  Delaware  New Castle County         279462       287633      100
2  Delaware      Sussex County         126498       129352      100
3   Georgia     Appling County           8187         8341      100
4   Georgia    Atkinson County           3097         3155      100

In [13]:
sen_cand_df.head()

      state             county      candidate party  total_votes
0  Delaware        Kent County  Lauren Witzke   REP        38571
1  Delaware        Kent County    Mark Turley   IPD         1553
2  Delaware        Kent County   Nadine Frost   LIB          958
3  Delaware  New Castle County  Lauren Witzke   REP        80081
4  Delaware  New Castle County    Mark Turley   IPD         4277

In [14]:
sen_ste_df.head()

      state  total_votes
0  Delaware       490935
1   Georgia      4952440
2     Idaho       858826
3  Illinois      5860394
4      Iowa      1670616