In [1]:
# Dependencies
import pandas as pd
from sqlalchemy import create_engine

## Extract CSVs into DataFrames

In [2]:
# File paths
gov_cn_path = 'Resources/governors_county.csv'
gov_cand_path = 'Resources/governors_county_candidate.csv'
gov_ste_path = 'Resources/governors_state.csv'
hse_cand_path = 'Resources/house_candidate.csv'
hse_ste_path = 'Resources/house_state.csv'
psd_cn_path = 'Resources/president_county.csv'
psd_cand_path = 'Resources/president_county_candidate.csv'
psd_ste_path = 'Resources/president_state.csv'
sen_cn_path = 'Resources/senate_county.csv'
sen_cand_path = 'Resources/senate_county_candidate.csv'
sen_ste_path = 'Resources/senate_state.csv'

In [3]:
# Read csv files
gov_cn_df = pd.read_csv(gov_cn_path)
gov_cand_df = pd.read_csv(gov_cand_path)
gov_ste_df = pd.read_csv(gov_ste_path)
hse_cand_df = pd.read_csv(hse_cand_path)
hse_ste_df = pd.read_csv(hse_ste_path)
psd_cn_df = pd.read_csv(psd_cn_path)
psd_cand_df = pd.read_csv(psd_cand_path)
psd_ste_df = pd.read_csv(psd_ste_path)
sen_cn_df = pd.read_csv(sen_cn_path)
sen_cand_df = pd.read_csv(sen_cand_path)
sen_ste_df = pd.read_csv(sen_ste_path)

### Governor

In [4]:
gov_cn_df.head()

      state             county  current_votes  total_votes  percent
0  Delaware        Kent County          85415        87025      100
1  Delaware  New Castle County         280039       287633      100
2  Delaware      Sussex County         127181       129352      100
3   Indiana       Adams County          14154        14238       99
4   Indiana       Allen County         168312       164793       95

In [5]:
gov_cand_df.head()

      state             county        candidate party   votes    won
0  Delaware        Kent County      John Carney   DEM   44352   True
1  Delaware        Kent County  Julianne Murray   REP   39332  False
2  Delaware        Kent County  Kathy DeMatteis   IPD    1115  False
3  Delaware        Kent County    John Machurek   LIB     616  False
4  Delaware  New Castle County      John Carney   DEM  191678   True

In [6]:
gov_ste_df.head()

           state    votes
0       Delaware   492635
1        Indiana  3020514
2       Missouri  3010911
3        Montana   603587
4  New Hampshire   792804

### House

In [7]:
hse_cand_df.head()

                 district             candidate party  total_votes    won
0       Delaware at large  Lisa Blunt Rochester   DEM       281382   True
1       Delaware at large            Lee Murphy   REP       196392  False
2       Delaware at large     Catherine Purcell   IND         6682  False
3       Delaware at large          David Rogers   LIB         3814  False
4  Florida’s 1st district            Matt Gaetz   REP       283352   True

In [8]:
hse_ste_df.head()

                 district  current_votes  total_votes  percent
0       Delaware at large         488270       488270      100
1  Florida’s 1st district         438562       438562      100
2  Florida’s 2nd district         311999       311999      100
3  Florida’s 3rd district         390401       390401      100
4  Florida’s 4th district         504940       504940      100

### President

In [9]:
psd_cn_df.head()

,state,county,current_votes,total_votes,percent
0,Delaware,Kent County,87025,87025,100
1,Delaware,New Castle County,287633,287633,100
2,Delaware,Sussex County,129352,129352,100
3,District of Columbia,District of Columbia,40631,45392,90
4,District of Columbia,Ward 2,31929,37140,86

In [10]:
psd_cand_df.head()

      state             county      candidate party  total_votes    won
0  Delaware        Kent County      Joe Biden   DEM        44552   True
1  Delaware        Kent County   Donald Trump   REP        41009  False
2  Delaware        Kent County   Jo Jorgensen   LIB         1044  False
3  Delaware        Kent County  Howie Hawkins   GRN          420  False
4  Delaware  New Castle County      Joe Biden   DEM       195034   True

In [11]:
psd_ste_df.head()

                  state  total_votes
0              Delaware       504010
1  District of Columbia       333682
2               Florida     11067456
3               Georgia      4998566
4                Hawaii       574469

### Senate

In [12]:
sen_cn_df.head()

      state             county  current_votes  total_votes  percent
0  Delaware        Kent County          84975        87025      100
1  Delaware  New Castle County         279462       287633      100
2  Delaware      Sussex County         126498       129352      100
3   Georgia     Appling County           8187         8341      100
4   Georgia    Atkinson County           3097         3155      100

In [13]:
sen_cand_df.head()

      state             county      candidate party  total_votes
0  Delaware        Kent County  Lauren Witzke   REP        38571
1  Delaware        Kent County    Mark Turley   IPD         1553
2  Delaware        Kent County   Nadine Frost   LIB          958
3  Delaware  New Castle County  Lauren Witzke   REP        80081
4  Delaware  New Castle County    Mark Turley   IPD         4277

In [14]:
sen_ste_df.head()

      state  total_votes
0  Delaware       490935
1   Georgia      4952440
2     Idaho       858826
3  Illinois      5860394
4      Iowa      1670616

## Create new dataframe, columns selected and clean data

### List of states and counties

In [28]:
# Retrieve only states 
state_df = psd_cn_df[['state']].drop_duplicates(subset=['state'])

state_df.head()

                    state
0                Delaware
3    District of Columbia
11                Florida
78                Georgia
237                Hawaii

In [20]:
# Retrieve only states and counties
state_county_df = psd_cn_df[['state', 'county']].drop_duplicates(subset=['state', 'county'])

state_county_df.head()

                  state                county
0              Delaware           Kent County
1              Delaware     New Castle County
2              Delaware         Sussex County
3  District of Columbia  District of Columbia
4  District of Columbia                Ward 2

In [ ]:
# Retrieve only states and districts
state_district_df = hse_cand_df[['state', 'district']].drop_duplicates(subset=['state', 'district'])

state_district_df.head()

### Governor

#### By County

In [18]:
# Rename column and make a copy from original dataframe
gov_result_df = gov_cand_df.rename(columns={'votes':'candidate_votes'}).copy()
gov_result_df

# Assign column of each candidate's percentage vote
gov_result_df = gov_result_df.assign(percent_votes = round(gov_result_df.candidate_votes/gov_result_df.groupby(['state','county']).candidate_votes.transform('sum')*100, 2))
# Rearrage columns
gov_result_cleaned_df = gov_result_df[['state', 'county','candidate', 'party',
                                       'candidate_votes', 'percent_votes', 'won']].copy()

# Display dataframe 
gov_result_cleaned_df.head()

,state,county,candidate,party,candidate_votes,percent_votes,won
0,Delaware,Kent County,John Carney,DEM,44352,51.93,True
1,Delaware,Kent County,Julianne Murray,REP,39332,46.05,False
2,Delaware,Kent County,Kathy DeMatteis,IPD,1115,1.31,False
3,Delaware,Kent County,John Machurek,LIB,616,0.72,False
4,Delaware,New Castle County,John Carney,DEM,191678,68.45,True

#### By State

In [25]:
# Sum of votes for each candidate for each State
gov_st_votes = gov_result_cleaned_df.groupby(['state', 'candidate'])\
                    .agg({'candidate_votes':sum}).reset_index(['state', 'candidate'])
# Assign column of each candidate's percentage vote 
gov_st_votes = gov_st_votes.assign(percent_votes = round(gov_st_votes.candidate_votes/gov_st_votes\
                                              .groupby(['state']).candidate_votes\
                                              .transform('sum')*100, 2))

# Display dataframe 
gov_st_votes.head()

      state         candidate  candidate_votes  percent_votes
0  Delaware       John Carney           292903          59.46
1  Delaware     John Machurek             3270           0.66
2  Delaware   Julianne Murray           190312          38.63
3  Delaware   Kathy DeMatteis             6150           1.25
4   Indiana  Donald Rainwater           400878          13.27

### House

In [ ]:
# Rename column for 'hse_cand_df' and make a copy from original dataframe

# Assign column of each candidate's percentage vote

# Rearrage columns

# Display dataframe

In [ ]:
# Create dataframe of total votes by state

# Display dataframe

### President

#### By County

In [19]:
# Rename column and make a copy from original dataframe
psd_result_df = psd_cand_df.rename(columns={'total_votes': 'candidate_votes'}).copy()

# Assign column of each candidate's percentage vote
psd_result_df = psd_result_df.assign(
                        percent_votes = round(psd_result_df.candidate_votes/psd_result_df\
                                        .groupby(['state','county']).candidate_votes\
                                        .transform('sum')*100, 2))

# Rearrage columns
psd_result_cleaned_df = psd_result_df[['state', 'county','candidate', 'party', 
                                       'candidate_votes', 'percent_votes', 'won']].copy()

# Display dataframe 
psd_result_cleaned_df.head()

,state,county,candidate,party,candidate_votes,percent_votes,won
0,Delaware,Kent County,Joe Biden,DEM,44552,51.19,True
1,Delaware,Kent County,Donald Trump,REP,41009,47.12,False
2,Delaware,Kent County,Jo Jorgensen,LIB,1044,1.20,False
3,Delaware,Kent County,Howie Hawkins,GRN,420,0.48,False
4,Delaware,New Castle County,Joe Biden,DEM,195034,67.81,True

#### By State

In [24]:
# Sum of votes for each candidate for each State
psd_st_votes = psd_result_cleaned_df.groupby(['state', 'candidate'])\
                        .agg({'candidate_votes':sum}).reset_index(['state', 'candidate'])

# Assign column of each candidate's percentage vote
psd_st_votes = psd_st_votes.assign(percent_votes = round(psd_st_votes.candidate_votes/psd_st_votes\
                                              .groupby(['state']).candidate_votes\
                                              .transform('sum')*100, 2))

# Display dataframe 
psd_st_votes.head()

     state     candidate  candidate_votes  percent_votes
0  Alabama     Write-ins             7274           0.31
1  Alabama  Donald Trump          1434159          62.09
2  Alabama  Jo Jorgensen            24994           1.08
3  Alabama     Joe Biden           843473          36.52
4   Alaska  Brock Pierce              821           0.23

### Senate

#### Assign 'won' column to senate candidate table

In [19]:
# Locate all the winner for each county using index
sen_cand_win_df = sen_cand_df[sen_cand_df['total_votes'] == sen_cand_df.groupby(['state','county'])['total_votes'].transform('max')]
sen_winner_index = sen_cand_win_df.index

In [20]:
# Assign result to 'won' column
sen_cand_df['won'] = False
for i in sen_cand_df.index:
    if i in sen_winner_index:
        sen_cand_df.iloc[i, 5] = True

# Display dataframe
sen_cand_df.head()

      state             county      candidate party  total_votes    won
0  Delaware        Kent County  Lauren Witzke   REP        38571   True
1  Delaware        Kent County    Mark Turley   IPD         1553  False
2  Delaware        Kent County   Nadine Frost   LIB          958  False
3  Delaware  New Castle County  Lauren Witzke   REP        80081   True
4  Delaware  New Castle County    Mark Turley   IPD         4277  False

#### By County

In [ ]:
# Rename column and make a copy from original dataframe

# Assign column of each candidate's percentage vote

# Rearrage columns

# Display dataframe

#### By State

In [ ]:
# Sum of votes for each candidate for each State

# Assign column of each candidate's percentage vote 

# Display dataframe

## Connect to local database

In [22]:
connection_string = "postgres:Bootcamp2020@localhost:5432/election2020_db"
engine = create_engine(f'postgresql://{connection_string}')

#### Check the existing tables

In [ ]:
engine.table_names()

### Use pandas to load csv converted DataFrame into database

#### List of states and counties

In [ ]:
# States
state_df.to_sql(name='states', con=engine, if_exists='replace', index=False)

# States and counties 
state_county_df.to_sql(name='state_county', con=engine, if_exists='replace', index=False)

#### Governor

In [ ]:
# Store election result by county to database
gov_result_cleaned_df.to_sql(name='governor_result_county', con=engine, if_exists='replace', index=False)

# Store election result by state to database
gov_st_votes.to_sql(name='governor_result_state', con=engine, if_exists='replace', index=False)

# Store election's total votes by county to database
gov_cand_df.to_sql(name='governor_total_votes_county', con=engine, if_exists='replace', index=False)

# Store election's total votes by state to database
gov_ste_df.to_sql(name='governor_total_votes_state', con=engine, if_exists='replace', index=False)

#### House

In [ ]:
# Store election result by district to database


# Store election's total votes by district to database


# Store election's total votes by state to database

#### President

In [40]:
# Store election result by county to database
psd_result_cleaned_df.to_sql(name='president_result_county', con=engine, if_exists='replace', index=False)

# Store election result by state to database
psd_st_votes.to_sql(name='president_result_state', con=engine, if_exists='replace', index=False)

# Store election's total votes by county to database
psd_cn_df.to_sql(name='president_total_votes_county', con=engine, if_exists='replace', index=False)

# Store election's total votes by state to database
psd_ste_df.to_sql(name='president_total_votes_state', con=engine, if_exists='replace', index=False)

#### Senate

In [ ]:
# Store election result by county to database


# Store election result by state to database


# Store election's total votes by county to database


# Store election's total votes by state to database

### Confirm data has been added by querying the tables

#### Governor

In [ ]:
pd.read_sql_query('select * governor_result_county', con=engine).head()

In [ ]:
pd.read_sql_query('select * governor_result_state', con=engine).head()

In [ ]:
pd.read_sql_query('select * governor_total_votes_county', con=engine).head()

In [ ]:
pd.read_sql_query('select * governor_total_votes_state', con=engine).head()

#### House

In [ ]:
pd.read_sql_query('select * house_result', con=engine).head()

In [ ]:
pd.read_sql_query('select * house_total_votes_district', con=engine).head()

In [ ]:
pd.read_sql_query('select * house_total_votes_state', con=engine).head()

#### President

In [ ]:
pd.read_sql_query('select * president_result_county', con=engine).head()

In [ ]:
pd.read_sql_query('select * president_result_state', con=engine).head()

In [ ]:
pd.read_sql_query('select * president_total_votes_county', con=engine).head()

In [ ]:
pd.read_sql_query('select * president_total_votes_state', con=engine).head()

#### Senate

In [ ]:
pd.read_sql_query('select * senate_result_county', con=engine).head()

In [ ]:
pd.read_sql_query('select * senate_result_state', con=engine).head()

In [ ]:
pd.read_sql_query('select * senate_total_votes_county', con=engine).head()

In [ ]:
pd.read_sql_query('select * senate_total_votes_state', con=engine).head()